*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkgreen;
    height: 50px
}
#logo{
    height: 100px
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 24px;
    padding-top: 28px;
}

.material-symbols-outlined{
    color: white;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 30%;
    border-radius: 20px;
    padding-left: 10px;
} 


#search{
    color: black;
    font-size: 15px;
}

#searchbox{
    border: none;
    width: 100%;
    outline: none;
}

.product img{
    width: 244px;
    padding-left: px;
    
}
.product{
    padding: 16px;
    border-style: solid;
    border-color: beige;

}
.section1{
    display: grid;
    grid-template-columns: 
}